{% extends 'base.html' %}

{% block title %}Категории - TopStore{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Категории товаров</h1>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="{% url 'catalog:product_list_by_category' category.slug %}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет категорий</p>
        {% endfor %}
    </div>
</div>
{% endblock %}